.section_cards {
  margin: 0 20px;
}

h2 {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  padding: 5px;
}
.container_cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 100%;
  gap: 17px;
  padding: 5px;

  .card {
    margin: 0 auto;
    padding: 5;
    max-width: 195px;

    .card_container__image {
      display: flex;
      position: relative;
      overflow: hidden;
      border-radius: 5%;
      .card_discount {
        position: absolute;
        left: 5px;
        bottom: 5px;
        padding: 0 3px;
        background-color: #fdeef9;
        border-radius: 20px;
        color: #cb11ab;
      }
      img {
        max-height: 250px;
        // border-radius: 15%;
      }
    }
    .goods_card_info {
      margin-top: 10px;
      .price_now {
        font-size: 18px;
        line-height: 24px;
        margin-right: 10px;
        font-weight: 700;
        color: #242424;
      }
      .price_last {
        font-size: 14px;
        line-height: 20px;
        color: #999;
        text-decoration: line-through;
      }
      .goods_card__description {
        text-overflow: ellipsis;
        overflow: hidden;
        outline: 0;
        white-space: nowrap;
        font-size: 14px;
        line-height: 20px;
        color: #999;

        .goods_card_brand::after {
          content: " / ";
        }
        span {
          white-space: nowrap;
        }
      }
    }
  }
}
