.popup__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s all;
  z-index: 2;
}
.popup__bg.active {
  opacity: 1;
  pointer-events: all;
  transition: 0.5s all;
  z-index: 3;
}
.popup {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  max-width: 900px;
  width: 100%;
  margin: 5px;
  padding: 25px;
  transition: 0.5s all;

  .popup_slider {
    position: relative;
    display: flex;
    max-width: 450px;
    width: 100%;
    overflow: hidden;
    .slider_line {
      display: flex;
      width: 900px;
      transition: all ease 1s;
      position: relative;
      left: 0px;
    }
    .popup_button_prev.disabled_button {
      background-color: #f184df;
      cursor: auto;
    }
    .popup_button_prev.disabled_button:hover {
      background-color: #f184df;
    }
    .popup_button_prev {
      position: absolute;
      z-index: 1;
      width: 20px;
      height: 20px;
      left: 5px;
      top: 50%;
      background-color: #cb11ab;
      cursor: pointer;
      clip-path: polygon(
        40% 0%,
        40% 20%,
        100% 20%,
        100% 80%,
        40% 80%,
        40% 100%,
        0% 50%
      );
    }
    .popup_button_prev:hover {
      background-color: #e62fc8;
    }
    .popup_button_next.disabled_button {
      background-color: #f184df;
      cursor: auto;
    }
    .popup_button_next.disabled_button:hover {
      background-color: #f184df;
    }
    .popup_button_next {
      position: absolute;
      z-index: 1;
      width: 20px;
      height: 20px;
      right: 5px;
      top: 50%;
      background-color: #cb11ab;
      cursor: pointer;
      clip-path: polygon(
        0% 20%,
        60% 20%,
        60% 0%,
        100% 50%,
        60% 100%,
        60% 80%,
        0% 80%
      );
    }
    .popup_button_next:hover {
      background-color: #e62fc8;
    }
  }
  .image {
    max-width: 450px;
  }
  .container_info {
    padding: 15 15 15 25;
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
    .brand_container {
      margin-bottom: 10px;
    }
    span {
      font-size: 24px;
      line-height: 32px;
      font-weight: 700;
    }
    .brand_name::after {
      content: ' / ';
    }
  }
  .popup_button {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 16px;
    height: 16px;
    padding: 3px;
    background-color: rgb(194, 194, 194);
    clip-path: polygon(
      20% 0%,
      0% 20%,
      30% 50%,
      0% 80%,
      20% 100%,
      50% 70%,
      80% 100%,
      100% 80%,
      70% 50%,
      100% 20%,
      80% 0%,
      50% 30%
    );
  }
}
.popup.active {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: 0.5s all;
  border-radius: 10px;
  max-width: 1000px;
  width: 100%;
  max-height: 650px;
  z-index: 2;

  .price_now {
    font-size: 24px;
    line-height: 32px;
  }
  .price_container {
    margin-top: 25px;
  }
  .btn_basket {
    font-size: 16px;
    line-height: 22px;
    padding: 11px 24px 13px;
    font-weight: 600;
  }
  .btn_basket:hover {
    background-color: #e62fc8;
    border: 2px solid #e62fc8;
  }
}
